.footer__container {
  background-color: var(--moderate-cyan);

  padding: 5rem 0;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.footer__nav-container {
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
}

.footer__list-container {
  display: grid;
  /* grid-auto-columns: 1fr; */
  grid-auto-flow: column;
  gap: 2rem;
  /* margin-bottom: 3rem; */
}

.footer__link {
  color: var(--desaturated-cyan);
}

.footer__link:hover {
  color: var(--white);
}
