@import url("./colors.css");
@import url("./font.css");
@import url("./reset.css");
@import url("./header.css");
@import url("./main.css");
@import url("./footer.css");

.section-grid-order {
    order: 2;
}

@media (max-width: 895px) {
    .section-grid-order {
        order: -1;
    }
}

.absolute-position {
    position: absolute;
}

.relative-position {
    position: relative;
}